.blue {
    background-image: linear-gradient(rgb(3, 3, 63), navy);
    height: 5rem;
    width: 5rem;
    border: 5px solid linear-gradient(rgb(3, 3, 63), navy);
    border-radius: 52% 48% 56% 44% / 49% 54% 46% 51% ;
}

.red {
    background-image: linear-gradient(red,darkred);
    height: 5rem;
    width: 5rem;
    border: 5px solid linear-gradient(red,darkred);
    border-radius: 52% 48% 56% 44% / 49% 54% 46% 51% ;
}

.yellow {
    background-image: linear-gradient(yellow, orange);
    height: 5rem;
    width: 5rem;
    border: 5px solid linear-gradient(yellow, orange);
    border-radius: 52% 48% 56% 44% / 49% 54% 46% 51% ;
}

.green {
    background-image: linear-gradient(green, lime);
    height: 5rem;
    width: 5rem;
    border: 5px solid linear-gradient(green, lime);
    border-radius: 52% 48% 56% 44% / 49% 54% 46% 51% ;
}

.purple {
    background-image: linear-gradient(purple, indigo);
    height: 5rem;
    width: 5rem;
    border: 5px solid linear-gradient(purple, indigo);
    border-radius: 52% 48% 56% 44% / 49% 54% 46% 51% ;
}

.pink {
    background-image: linear-gradient(pink,violet);
    height: 5rem;
    width: 5rem;
    border: 5px solid linear-gradient(pink,violet);
    border-radius: 52% 48% 56% 44% / 49% 54% 46% 51% ;
}
