.blue {
    background-image: linear-gradient(rgb(3, 3, 63), navy);
    height: 5rem;
    width: 5rem;
    border: 5px solid ivory;
    margin: 0.02%;
    opacity: 50%;
}

.red {
    background-image: linear-gradient(red,darkred);
    height: 5rem;
    width: 5rem;
    border: 5px solid ivory;
}

.yellow {
    background-image: linear-gradient(yellow, orange);
    height: 5rem;
    width: 5rem;
    border: 5px solid ivory;
}

.green {
    background-image: linear-gradient(green, lime);
    height: 5rem;
    width: 5rem;
    border: 5px solid ivory;
}

.purple {
    background-image: linear-gradient(purple, indigo);
    height: 5rem;
    width: 5rem;
    border: 5px solid ivory;
}

.blank {
    background-image: linear-gradient(gray,rgb(245, 239, 239));
    height: 5rem;
    width: 5rem;
    border: 5px solid rgb(221, 216, 208);
}